
body {
  background: #1e1e1e;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

#container {
  display: flex;
  flex-wrap: wrap;
  width: 500px;
  height: 500px;
  border: 2px solid white;
}

.square {
  box-sizing: border-box;
  border: 1px solid #333;
  background-color: #1e1e1e;
}

.square:hover {
  background-color: white;
}
